# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# ML / data
data/
*.pt
*.pth
*.ckpt
*.h5
*.pkl
*.bin
runs/
outputs/
checkpoints/
wandb/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo

fastapi-venv/
app/printer_parts.db